body {
  font-family: Helvetica, "Helvetica Neue",
    sans-serif;
  padding: 20px;
}

main {
  display: grid;
  grid-template-columns: repeat(12, minmax(0,1fr));
  gap: 10px;
}

header {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
}

.home {
  grid-column: 1 / 4;
}

nav {
  grid-column: 4 / -1;
  display: grid;
  grid-template-columns: subgrid;
}

nav ul {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav li {
  grid-column: auto / span 3;
}

article {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
}

.content {
  grid-row: 1;
  grid-column: 4 / -1;
}

aside {
  grid-row: 1;
  grid-column: 1 / 4;
}

header a {
  text-decoration: none;
  background-color: rgb(0,48,90);
  color: #fff;
  display: block;
  padding: 10px;
}

aside, .content {
  border: 1px solid rgb(0,48,90);
  padding: 10px;
}