/** @format */

main {
}
.content {
	&__page {
		display: grid;
		height: 100%;
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr auto;
		grid-template-areas: 'header' 'main' 'footer';
		grid-row-gap: 5px;
		&--header {
			grid-area: header;
			align-self: center;
			text-align: center;
		}
		&--footer {
			grid-area: footer;
			align-self: center;
			text-align: center;
		}
		&--main {
			grid-area: main;
		}
	}
}

.page__with-nav {
	display: grid;
	height: 100%;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto 1fr auto;
	grid-template-areas: 'page-nav' 'page-header' 'page-main' 'page-footer';
	grid-row-gap: 5px;
    
    @media (min-width: 570px) {
		grid-template-columns: auto 1fr;
		grid-template-rows: auto 1fr auto;
        grid-template-areas: 'page-nav page-header' 'page-nav page-main' 'page-nav page-footer';
        &--nav {
        display: flex;
        flex-direction: column;
        grid-area: page-nav;
       
		
	}
    }
    @media (max-width: 569px) {
		
        &--nav {
		display: flex;
        grid-area: page-nav;
        flex-direction: row;
        
    }
    &--header {
		grid-area: page-header;
		align-self: center;
        text-align: center;
        
	}
	}
	
	&--header {
		grid-area: page-header;
		align-self: center;
        text-align: center;
        line-height: 3em;
	}
	&--footer {
		grid-area: page-footer;
		align-self: center;
		text-align: center;
	}
	&--main {
		grid-area: page-main;
	}
}
