// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------



/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
/* *,
*::before,
*::after {
  box-sizing: inherit;
}
 */
//More Genereral then html{}
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

:root , body , html{
    --font-family:Sansita Swashed;
    --font-size: calc(1vw + 1vh + .5vmin);
    --font-weight: bold; 
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
--shade-count: #{$shade-count};
--bg-image-linear-stop: 120%;
box-sizing: border-box;
height: 100%;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
text-rendering: optimizeLegibility;
//@include fluid-type(font-size, $minScreen, $maxScreen, $minFont, $maxFont);
font-size: var(--font-size);
 
 //font: normal small-caps calc(1vw + 1vh + .5vmin) var(--bs-font-sans-serif, 9)
 //font: normal small-caps calc(1vw + 1vh + .5vmin) Literata;
 //font: normal small-caps bold calc(1vw + 1vh + .5vmin) 'Crimson Pro';
 //font: normal small-caps bold calc(1vw + 1vh + .5vmin) var(--font-family);
 font-family: var(--font-family);
 font-weight: var(--font-weight);

}


/**
 * Basic styles for links
 */
a {
  // color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}
.disabled { 
    position : relative; 
    color    : grey;
}
.disabled:after {
    position :absolute;
    left     : 0;
    top      : 0;
    width    : 100%;
    height   : 100%;
    content  :' ';
}

